.ceshi {
  color: red;
}
.ceshi p {
  border-bottom: 1px #ddd solid;
}
.ceshi p span {
  color: #007aff;
  font-size: 50px;
}
.ceshi p em {
  color: blue;
  border: 1px #ddd solid;
  border-radius: 5px;
}
.ceshi2 {
  width: 100px;
  height: 100px;
  border: 1px #000d4d solid;
}
.ceshi2 .p1 {
  font-size: 36px;
  float: left;
  color: #007aff;
}
.ceshi2 .p2 {
  font-size: 20px;
  float: left;
  color: #f938ab;
}
.ceshi2 .p3 {
  font-size: 50px;
}
.ceshi2 .p4 {
  font-size: 40px;
}
